html, body {
    margin: 0px;
    font-family: "Avenir Medium", sans-serif;
    color: black;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: white;
}

/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* use flexbox for horizontal positioning (replaces floating used in earlier versions) */
header, footer, li {
    display: flex;
}

/* header and its parts */

header {
    background-color: white;
    height: 50px;
    width: 100%;
    max-width: 100%;
    line-height: 50px;
    box-shadow: 0px 1px 8px #888888;
    margin-bottom: 2px;
}

header h2 {
    margin: 0px;
    font-weight: normal;
    display: inline-block;
}

.button {
    height: 30px;
    width: 30px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    background-origin: content-box;
    background-position: center center;
    filter: invert(70%);
    -webkit-filter: invert(70%);
    vertical-align: middle;
}

.listeners-active .toggle-listeners {
    background-image: url("./img/glyphicons/png/glyphicons-560-mic-mute.png");
    background-size: 23px 30px;
    /*float: left;*/
    justify-content: flex-start;
}

.listeners-active .grau-text {
    display: none;
}

.listeners-active .pfeile-icon {
    display: none;
}

.listeners-active .grid-container {
    display: inline-block;
}


.listeners-active .bild-titel{
    display: none;
}

.listeners-active .img-list {

    background-size: 100px 100px;
    background-image: url("http://via.placeholder.com/100x100");
    background-repeat: no-repeat;
    background-position: left top;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    height: 105px;
    width: 100px;
    display: inline;
}

.listeners-active .options-icon {
    margin-left: 85px;
    margin-top: 70px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    float: none;

}


/* main part of the view */

.maincontent {
    width: 100%;
    max-width: 100%;
    background-color: white;
    height: calc(100% - 107px);
    height: -webkit-calc(100% - 107px);
    max-height: calc(100% - 107px);
    max-height: -webkit-calc(100% - 107px);
    overflow-y: scroll;
    overflow-x: hidden;

}

.maincontent::-webkit-scrollbar {
    display: none;
}

/* list and list items */

ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    -webkit-transition: opacity 2s;
}

ul.hide {
    opacity: 0.1;
    -webkit-transition: opacity 2s;
}

li {

    font-size: 20pt;
    padding-left: 10px;
    border-bottom: 1px solid rgb(230,230,230);
}

/* disabled elements */
[disabled] {
    opacity: 0.5;
}

/* selected elements */
li:active, .button:active  {
    opacity: 0.1;
}

/* toast */


ul.shown {
    opacity: 1.0;
    transition: opacity 5s;
}

.menu-icon {
    justify-content: flex-start;
    background-image: url("./img/glyphicons/png/glyphicons-517-menu-hamburger.png");

}
.kachel-icon {
    justify-content: flex-end;
    background-image: url("./img/glyphicons/png/glyphicons-157-show-thumbnails.png");
    margin-left: auto;
}

.listeners-active .kachel-icon {
    justify-content: flex-end;
    background-image: url("./img/glyphicons/png/glyphicons-115-list.png");
    margin-left: auto;
}

.listeners-active li {
    border-bottom: 0;

}

.plus-icon {
    justify-content: flex-end;
    background-image: url("./img/glyphicons/png/glyphicons-433-plus.png");
}

#logout-icon{
    justify-content: flex-start;
    background-image: url("./img/glyphicons/png/glyphicons-388-log-out.png");
}
#refresh-icon {
    justify-content: flex-end;
    background-image: url("./img/glyphicons/png/glyphicons-82-refresh.png");
    margin-left: auto;
}
.pfeile-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-image: url("./img/glyphicons/png/glyphicons-174-play.png");
    background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
    filter: invert(70%);
    -webkit-filter: invert(70%);
    float: left;
    vertical-align: middle;


}
.options-icon {
    background-image: url("./img/glyphicons/png/glyphicons-518-option-vertical.png");
    width: 10px;
    height: 40px;
    background-size: auto 25px;
    margin-right: 10px;
    background-position: right top;
    background-repeat: no-repeat;
    filter: invert(70%);
    -webkit-filter: invert(70%);
    float: right;
}


.img-list {
    background-size: 70px 70px;
    background-image: url("http://via.placeholder.com/70x70");
    background-repeat: no-repeat;
    background-position: left top;
    margin-top: 10px;
    grid-row: 1 / 4;
    margin-left: 10px;
}

.grau-text {
    display: inline-block;
    font-size: 14px;
    color: #cdcdcd;
    float: left;
    vertical-align: middle;
}

.grau-text div {
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    padding: 0px;
}
.grid-container > div {
    padding: 5px;
}

.bild-titel {
    display: inline-block;
    margin-right: auto;
    font-size: 18px;
}

.puffer {
    height: 12px;
    background-color: #eeeeee;
}

.date {
    margin-right: 10px;
    float: right;
}
footer {
    border-top: 5px solid orange;
    height: 50px;
    background-color: white;
}



